{% extends 'catalogue/base.html' %}
{% block title %}
Смена пароля
{% endblock %}
{% block content %}
<div class="container col-3 pt-3 pb-3 mb-3 rounded" style="background-color: white;">
  <h3 class="text-center">Изменение пароля</h3>
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="">{{ form.old_password.label }}</label>
      {{ form.old_password }}
    </div>
    <div class="form-group">
      <label class="">{{ form.new_password1.label }}</label>
      {{ form.new_password1 }}
    </div>
    <div class="form-group">
      <label class="">{{ form.new_password2.label }}</label>
      {{ form.new_password2 }}
    </div>
    <div class="row mt-3">
      {% for field, errors in form.errors.items %}
          {% for error in errors %}
              <br>
              <p class="text-danger mx-3">{{ error }}</p>
          {% endfor %}
      {% endfor %}
    </div>
    <div class="row">
      <button type="submit" class="mx-auto btn btn-primary">Изменить</button>
    </div>
  </form>
</div>

{% endblock %}