{% extends 'catalogue/base.html' %}

{% block title %}
Восстановление пароля
{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <h2 class="text-center">Восстановление пароля</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="">{{ form.email.label }}</label><br>
                {{ form.email }}
            </div>
            <button type="submit" class="mx-auto btn btn-primary">Восстановить пароль</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}