{% extends 'catalogue/base.html' %}
{% block title %}
Мой профиль
{% endblock %}

{% block content %}
<style>body {background-color: #f0f8ff;}</style>
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ user_data.profile_image_url }}" alt="Фото профиля" class="rounded-circle" style="object-fit: cover; width: 150px; height: 150px;">
                    <div class="mt-3">
                      <h4>{{ user_data.name }} {{ user_data.surname }}</h4>
                      <p class="text-secondary mb-1">Возраст: {{ user_data.age }}</p>
                      {% if user_data.id == user.id %}
                      <a href="{% url 'edit' %}" class="btn btn-outline-primary">Редактировать профиль</a>
                      {% else %}
                      <a href="{% url 'create_or_join_chat' user_data.id %}" class="btn btn-outline-primary">Написать сообщение</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Дата рождения</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user_data.birthday }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Город</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if user_data.city %} {{ user_data.city }} {% else %} Не указан {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Пол</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user_data.gender }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-12 mb-6">
                  <div class="card h-100">
                    <div class="row d-flex mx-0 justify-content-between card-header">
                      {% if user_data.id == user.id %}
                        <h5 class="mb-0">Мои объявления</h5>
                        <a href="{% url 'create_ad' %}" class="text-link">Создать объявление</a>
                      {% else %}
                        <h5 class="mb-0">Объявления пользователя</h5>
                      {% endif %}
                    </div>
                    <div class="card-body">
                      {% if ads|length %}
                        {% for ad in ads %}
                          {% include 'catalogue/ad_small_card.html' %}
                        {% endfor %}
                        {% if ads.paginator.page_range|length > 1 %}
                        <div class="row">
                          <div class="col">
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              {% if ads.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ ads.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                              {% endif %}
                              {% for n in ads.paginator.page_range %}
                                  {% if ads.number == n %}
                                      <li class="page-item disabled">
                                      <span class="page-link font-weight-bold">{{ n }}<span class="sr-only"></span></span>
                                      </li>
                                  {% elif n > ads.number|add:'-3' and n < ads.number|add:'3' %}
                                      <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                  {% endif %}
                              {% endfor %}
                              {% if ads.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ ads.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                              {% endif %}
                            </ul>
                          </nav>
                          </div>
                        </div>
                        {% endif %}
                      {% else %}
                        <p class="mb-0">Объявлений не найдено</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}